// colors 
$black-color: #000;
$grey-color: #636480;
$dark-color: #090A22;
$light-color: #BDBED0;
$green-color: #88D790;
$yellow-color: #FFB911;
$white-color: #FFFFFF;

// fonts 
$Montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

// scrollbar 
$scrollbar-size: 15px;
$scrollbar-thumb: #B7B7B7;
$scrollbar-track: #ECECEE;